<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ozomall.dao.AdminUserMapper">
    <resultMap id="UserResultMap" type="com.ozomall.entity.UserDto">
        <id column="id" property="id"/>
        <result column="user_name" property="userName"/>
        <result column="nick_name" property="nickName"/>
        <result column="role" property="role"/>
        <result column="phone" property="phone"/>
    </resultMap>
    <sql id="UserColumn">
        id, user_name, nick_name, role, phone
    </sql>
    <select id="login" resultMap="UserResultMap">
        select * from admin_user where user_name=#{userName}
    </select>
    <insert id="add" parameterType="com.ozomall.entity.UserDto">
        insert into admin_user(userName, passWord, nickName, role) values (#{userName}, #{passWord}, #{nickName}, #{role})
    </insert>
    <select id="find" resultType="com.ozomall.entity.UserDto">
        select
        <include refid="UserColumn"/>
        from admin_user where user_name=#{userName} or nick_name=#{nickName} or role=#{role} or phone=#{phone}
    </select>
</mapper>