<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ozomall.dao.GoodsMapper">
    <resultMap id="goodsMap" type="com.ozomall.vo.GoodsVo">
        <id property="id" column="id"></id>
        <result property="goodsName" column="goods_name"></result>
        <result property="goodsPrice" column="goods_price"></result>
        <result property="commentCount" column="comment_count"></result>
        <result property="sales" column="sales"></result>
        <result property="classify1Id" column="classify1_id"></result>
        <result property="classify2Id" column="classify2_id"></result>
        <result property="classify3Id" column="classify3_id"></result>
        <result property="brandId" column="brand_id"></result>
        <result property="createTime" column="create_time"></result>
        <result property="status" column="status"></result>
        <result property="step" column="step"></result>
        <result property="cover" column="cover"></result>
        <result property="details" column="details"></result>
        <result property="del" column="del"></result>
        <association property="classify1" javaType="com.ozomall.entity.ClassifyDto" columnPrefix="classify1_">
            <id property="id" column="id"></id>
            <result property="name" column="name"/>
        </association>
        <association property="classify2" javaType="com.ozomall.entity.ClassifyDto" columnPrefix="classify2_">
            <id property="id" column="id"></id>
            <result property="name" column="name"/>
        </association>
        <association property="classify3" javaType="com.ozomall.entity.ClassifyDto" columnPrefix="classify3_">
            <id property="id" column="id"></id>
            <result property="name" column="name"/>
        </association>
        <association property="brand" javaType="com.ozomall.entity.GoodsBrandDto" columnPrefix="brand_">
            <id property="id" column="id"></id>
            <result property="name" column="name"/>
            <result property="url" column="url"/>
        </association>
    </resultMap>
    <select id="goodsList" parameterType="com.ozomall.entity.GoodsDto" resultMap="goodsMap">
        select goods.*,
        classify1.id as classify1_id,
        classify1.name as classify1_name,
        classify2.id as classify2_id,
        classify2.name as classify2_name,
        classify3.id as classify3_id,
        classify3.name as classify3_name,
        goods_brand.id as brand_id,
        goods_brand.name as brand_name,
        goods_brand.url as brand_url
        from goods
        left join classify as classify1 on goods.classify1_id=classify1.id
        left join classify as classify2 on goods.classify2_id=classify2.id
        left join classify as classify3 on goods.classify3_id=classify3.id
        left join goods_brand on goods.brand_id=goods_brand.id
        where goods.del=0
        <if test="form.goodsName != null">
            and goods.goods_name=#{form.goodsName}
        </if>
        <if test="form.classify1Id != null">
            and goods.classify1_id=#{form.classify1Id}
        </if>
        <if test="form.classify2Id != null">
            and goods.classify2_id=#{form.classify2Id}
        </if>
        <if test="form.classify3Id != null">
            and goods.classify3_id=#{form.classify3Id}
        </if>
        <if test="form.status != null">
            and goods.status=#{form.status}
        </if>
    </select>

    <select id="getGoodsById" parameterType="int" resultMap="goodsMap">
        select goods.*,
       classify1.id as classify1_id,
        classify1.name as classify1_name,
        classify2.id as classify2_id,
        classify2.name as classify2_name,
        classify3.id as classify3_id,
        classify3.name as classify3_name,
        goods_brand.id as brand_id,
        goods_brand.name as brand_name,
        goods_brand.url as brand_url
        from goods
        left join classify as classify1 on goods.classify1_id=classify1.id
        left join classify as classify2 on goods.classify2_id=classify2.id
        left join classify as classify3 on goods.classify3_id=classify3.id
        left join goods_brand on goods.brand_id=goods_brand.id
        where goods.id=#{id}
    </select>

    <update id="increaseSales" parameterType="int" flushCache="true">
        update goods set
            sales = goods.sales + 1
          where id = #{id}
    </update>
</mapper>