<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ozomall.dao.OrderMapper">
    <resultMap id="orderMap" type="com.ozomall.vo.OrdersVo">
        <id property="id" column="id"></id>
        <result property="orderNo" column="order_no"></result>
        <result property="userId" column="user_id"></result>
        <result property="goodsId" column="goods_id"></result>
        <result property="goodsSkuId" column="goods_sku_id"></result>
        <result property="addressId" column="address_id"></result>
        <result property="goodsName" column="goods_name"></result>
        <result property="spe1Name" column="spe1_name"></result>
        <result property="spe2Name" column="spe2_name"></result>
        <result property="spe3Name" column="spe3_name"></result>
        <result property="goodsPic" column="goods_pic"></result>
        <result property="goodsAmount" column="goods_amount"></result>
        <result property="orderAmount" column="order_amount"></result>
        <result property="payAmount" column="pay_amount"></result>
        <result property="freightAmount" column="freight_amount"></result>
        <result property="promotionAmount" column="promotion_amount"></result>
        <result property="payType" column="pay_type"></result>
        <result property="sourceType" column="source_type"></result>
        <result property="status" column="status"></result>
        <result property="del" column="del"></result>
        <result property="deliveryTime" column="delivery_time"></result>
        <result property="paymentTime" column="payment_time"></result>
        <result property="receiveTime" column="receive_time"></result>
        <result property="createTime" column="create_time"></result>
        <result property="deliveryCompany" column="delivery_company"></result>
        <result property="deliveryNo" column="delivery_no"></result>
        <association property="userInfo" javaType="Map" columnPrefix="userInfo_">
            <id property="id" column="id"></id>
            <result property="phone" column="phone"/>
        </association>
        <association property="addressInfo" javaType="Map" columnPrefix="addressInfo_">
            <id property="id" column="id"></id>
            <result property="consignee" column="consignee"/>
            <result property="region" column="region"/>
            <result property="address" column="address"/>
            <result property="phone" column="phone"/>
        </association>
    </resultMap>
    <select id="orderList" parameterType="com.ozomall.entity.OrderDto" resultMap="orderMap">
        select orders.*,
        userInfo.id as userInfo_id,
        userInfo.phone as userInfo_phone,
        addressInfo.id as addressInfo_id,
        addressInfo.consignee as addressInfo_consignee,
        addressInfo.region as addressInfo_region,
        addressInfo.address as addressInfo_address,
        addressInfo.phone as addressInfo_phone
        from orders
        left join mall_users as userInfo on orders.user_id=userInfo.id
        left join address as addressInfo on orders.address_id=addressInfo.id
        where orders.del=0
        <if test="form.id != null">
            and orders.id=#{form.id}
        </if>
        <if test="form.orderNo != null">
            and orders.order_no=#{form.orderNo}
        </if>
        <if test="form.goodsName != null">
            and orders.goods_name=#{form.goodsName}
        </if>
        <if test="form.payType != null">
            and orders.pay_type=#{form.payType}
        </if>
        <if test="form.sourceType != null">
            and orders.source_type=#{form.sourceType}
        </if>
        <if test="form.status != null">
            and orders.status=#{form.status}
        </if>
        <if test="form.status != null">
            and orders.status=#{form.status}
        </if>
    </select>

    <select id="getOrderDetail" parameterType="String" resultMap="orderMap">
       select orders.*,
        userInfo.id as userInfo_id,
        userInfo.phone as userInfo_phone,
        addressInfo.id as addressInfo_id,
        addressInfo.consignee as addressInfo_consignee,
        addressInfo.region as addressInfo_region,
        addressInfo.address as addressInfo_address,
        addressInfo.phone as addressInfo_phone
        from orders
        left join mall_users as userInfo on orders.user_id=userInfo.id
        left join address as addressInfo on orders.address_id=addressInfo.id
        where orders.del=0 and orders.order_no=#{orderNo}
    </select>
</mapper>